<div class="card-container">
	<p class="card-title">CPU <i class="fa fa-clickable" ng-class="vm.updateCard ? 'fa-toggle-on toggle-on' : 'fa-toggle-off toggle-off' " ng-click="vm.updateCard = !vm.updateCard"></i></p>

	<hr>
	<div class="row">
		<div class="col-md-4">
			<dl class="">
				<dt>CPU Model</dt>
				<dd>{{vm.cpuInfo.manufacturer}} {{vm.cpuInfo.brand}} {{vm.cpuInfo.speed.max}} GHz - {{vm.cpuInfo.cores}} Cores</dd>
			</dl>
		</div>
		<div class="col-md-4 left-border">
			<dl class="">
				<dt>Load</dt>
			</dl>
			<p class="kpi-value purple">{{vm.lastLoad}}%</p>
		</div>
		<div class="col-md-4 left-border">
			<dl class="">
				<dt>Temperature</dt>
			</dl>
			<p class="kpi-value blue">{{vm.lastTemp}}Cº</p>
		</div>
		<div class="col-md-12" id="cpu-chart">
			<dl class="">
				<dt>CPU Usage</dt>
			</dl>
			<div class="chart-container">				
				<highchart id="cpu-load-chart" config="vm.chartConfig"></highchart>
			</div>
		</div>	
	</div>
</div>