/***
**** Cards selectors
***/

.card-container{
	background-color: $sidebar-color;
	padding: $default-margin;
	margin-bottom: $default-margin *4;
	box-shadow: $container-box-shadow;
	
	dl{
		margin-bottom: 0px;
		dt{
			color: $grey;
			text-transform: uppercase;
		}

		dd{
			margin-bottom: $default-margin/2;
		}
	}

	.card-title{
		text-transform: uppercase;
		margin-top: 0px;
		margin-left: 15px;
		color: $white;
		position: absolute;
		top: -42px;
		left: 0px;
		padding: $default-margin/2 $default-margin;
		background-color: lighten($sidebar-color, 0%);
		box-shadow: $container-box-shadow;
	}

	.left-border{
		border-left: 1px solid $grey;
	}
}

.kpi-value{
	font-size: $font-size-extra-large*2.5;
	/* font-weight: bold; */
}