/***
**** Cards selectors
***/

.card-container{
	background-color: $sidebar-color;
	padding: $default-margin/2;
	
	dl{
		margin-bottom: 0px;
		dt{
			color: $grey;
			text-transform: uppercase;
		}

		dd{

		}
	}

	.card-title{
		text-transform: uppercase;
		margin-top: 0px;
		margin-left: 15px;
		color: $white;
		position: absolute;
		top: -42px;
		left: 0px;
		padding: $default-margin/2 $default-margin/2;
		background-color: lighten($sidebar-color, 0%);
	}
}