/***
**** Margins
***/
$default-margin: 20px;
$double-margin: 2*$default-margin;
$sidebar-width: $default-margin*4;


/***
**** Typography
***/
$font-family-base:        'Lato', sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-very-small:    ceil(($font-size-base * 0.65)) !default; //


/***
**** Custom colors
***/

$black: #515255;
$white: #fff;
$dashboard-red: rgb(202,53,78);	
$dashboard-green: rgb(35,148,134);

$background-color: rgb(23,25,29);
$sidebar-color: rgb(13,15,17);
$link-color: $dashboard-green;


/***
**** Inputs
***/
$border-radius-base: 0px;

