$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'https://fonts.googleapis.com/css?family=Lato:100,400,700,900';
@import "_vars.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/***
**** SCSS imports
***/
@import "_sidebar.scss";


/***
**** General selectors
***/
body{
	background-color: $background-color;
	color: $white;
	font: $font-family-base;
}

.dashboard{
	margin-top: $default-margin*2;
	margin-left: $sidebar-width;
}