$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'https://fonts.googleapis.com/css?family=Lato:100,400,700,900';
@import "_vars.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/***
**** SCSS imports
***/
@import "_sidebar.scss";
@import "_cards.scss";
@import "_highcharts.scss";


/***
**** General selectors
***/
body{
	background-color: $background-color;
	color: $grey;
	font-family: $font-family-base;
}

.dashboard{
	margin-top: $default-margin*4;
	margin-left: $sidebar-width;
}

*:focus {
    outline: -webkit-focus-ring-color auto 0px;
}


/***
**** Links
***/
a{
	color: $link-color;
	&:hover{
		cursor: pointer;
	}
}

.fa-clickable{
	&:hover{
		cursor: pointer;
	}
	&.toggle-on{
		color: $dashboard-green;	
	}
	&.toggle-off{
		color: $dashboard-red;
	}
}

/***
**** Colors
***/
.red{
	color: $dashboard-red;
}
.green{
	color: $dashboard-green;
}
.purple{
	color: $dashboard-purple;
}
.blue{
	color: $dashboard-blue;
}
.light-blue{
	color: $dashboard-light-blue;
}
.turquoise{
	color: $dashboard-turquoise;
}
.pink{
	color: $dashboard-pink;
}
.orange{
	color: $dashboard-orange;
}
.yellow{
	color: $dashboard-yellow;
}